<a href="https://colab.research.google.com/github/thmswhelan/UCDPA_ThomasWhelan/blob/main/PropertyPricesIreland.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/thmswhelan/UCDPA_ThomasWhelan/main/Property_Price_Register_Ireland-28-05-2021.csv"

df = pd.read_csv(url)

In [2]:
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [3]:
df.head()

,SALE_DATE,ADDRESS,POSTAL_CODE,COUNTY,SALE_PRICE,IF_MARKET_PRICE,IF_VAT_EXCLUDED,PROPERTY_DESC,PROPERTY_SIZE_DESC
0,2010-01-01,"5 Braemor Drive, Churchtown, Co.Dublin",NaN,Dublin,343000.0,0,0,Second-Hand Dwelling house /Apartment,NaN
1,2010-01-03,"134 Ashewood Walk, Summerhill Lane, Portlaoise",NaN,Laois,185000.0,0,1,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...
2,2010-01-04,"1 Meadow Avenue, Dundrum, Dublin 14",NaN,Dublin,438500.0,0,0,Second-Hand Dwelling house /Apartment,NaN
3,2010-01-04,"1 The Haven, Mornington",NaN,Meath,400000.0,0,0,Second-Hand Dwelling house /Apartment,NaN
4,2010-01-04,"11 Melville Heights, Kilkenny",NaN,Kilkenny,160000.0,0,0,Second-Hand Dwelling house /Apartment,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476745 entries, 0 to 476744
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SALE_DATE           476745 non-null  object
 1   ADDRESS             476745 non-null  object
 2   POSTAL_CODE         89764 non-null   object
 3   COUNTY              476745 non-null  object
 4   SALE_PRICE          476745 non-null  float64
 5   IF_MARKET_PRICE     476745 non-null  int64
 6   IF_VAT_EXCLUDED     476745 non-null  int64
 7   PROPERTY_DESC       476745 non-null  object
 8   PROPERTY_SIZE_DESC  52792 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 32.7+ MB

In [5]:
df.dtypes

SALE_DATE              object
ADDRESS                object
POSTAL_CODE            object
COUNTY                 object
SALE_PRICE            float64
IF_MARKET_PRICE         int64
IF_VAT_EXCLUDED         int64
PROPERTY_DESC          object
PROPERTY_SIZE_DESC     object
dtype: object

In [6]:
pip install requests beautifulsoup4

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.7.22)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.4.1)

In [7]:
import requests

url = "https://www.ecb.europa.eu/stats/policy_and_exchange_rates/key_ecb_interest_rates/html/index.en.html"
response = requests.get(url)

if response.status_code == 200:
    page_content = response.content
else:
    print("Failed to fetch the web page.")

In [8]:
import requests
import pandas as pd

url = "https://www.ecb.europa.eu/stats/policy_and_exchange_rates/key_ecb_interest_rates/html/index.en.html"
response = requests.get(url)

if response.status_code == 200:
    page_content = response.content
    dfs = pd.read_html(page_content)  # Returns a list of DataFrames from HTML tables
    table_df = dfs[0]  # Assuming the first table is the one with the data
    # You might need to adjust the index if the target table is at a different position.
    print(table_df)
else:
    print("Failed to fetch the web page.")

                              Date (with effect from)  \
                                   Unnamed: 0_level_1
0                                                2023
1                                                2023
2                                                2023
3                                                2023
4                                                2023
5                                                2022
6                                                2022
7                                                2022
8                                                2022
9                                                2019
10                                               2016
11                                               2015
12                                               2014
13                                                NaN
14                                               2013
15                                                NaN
16                                               2012
17                                               2011
18                                                NaN
19                                                NaN
20                                                NaN
21                                               2009
22                                                NaN
23                                                NaN
24                                                NaN
25                                               2008
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                               2007
32                                                NaN
33                                               2006
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                               2005
39                                               2003
40                                                NaN
41                                               2002
42                                               2001
43                                                NaN
44                                                NaN
45                                                NaN
46                                               2000
47                                                NaN
48                                                NaN
49                                                NaN
50                                                NaN
51                                                NaN
52                                                NaN
53                                               1999
54                                                NaN
55                                                NaN
56                                                NaN
57                                                NaN
58    (interest rate levels in percentages per annum)
59  Prior to 10 March 2004, changes to the interes...

                                                       \
                                   Unnamed: 1_level_1
0                                              2 Aug.
1                                             21 Jun.
2                                              10 May
3                                             22 Mar.
4                                              8 Feb.
5                                             21 Dec.
6                                              2 Nov.
7                                             14 Sep.
8                                             27 Jul.
9                                             18 Sep.
10                                            16 Mar.
11                                             9 Dec.
12                                            10 Sep.
13                                            11 Jun.
14                                            13 Nov.
15                                             8 May.
16                                            11 Jul.
17                                            14 Dec.
18                                             9 Nov.
19                                            13 Jul.
20                                            13 Apr.
21                                             13 May
22                                             8 Apr.
23                                            11 Mar.
24                                            21 Jan.
25                                            10 Dec.
26                                            12 Nov.
27                                           15 Oct.4
28                                            9 Oct.3
29                                             8 Oct.
30                                             9 Jul.
31                                            13 Jun.
32                                            14 Mar.
33                                            13 Dec.
34                                            11 Oct.
35                                             9 Aug.
36                                            15 Jun.
37                                             8 Mar.
38                                             6 Dec.
39                                             6 Jun.
40                                             7 Mar.
41                                             6 Dec.
42                                             9 Nov.
43                                            18 Sep.
44                                            31 Aug.
45                                             11 May
46                                             6 Oct.
47                                             1 Sep.
48                                           28 Jun.2
49                                             9 Jun.
50                                            28 Apr.
51                                            17 Mar.
52                                             4 Feb.
53                                             5 Nov.
54                                             9 Apr.
55                                            22 Jan.
56                                           4 Jan. 1
57                                             1 Jan.
58    (interest rate levels in percentages per annum)
59  Prior to 10 March 2004, changes to the interes...

                                     Deposit facility  \
                                   Unnamed: 2_level_1
0                                                3.75
1                                                3.50
2                                                3.25
3                                                3.00
4                                                2.50
5                                                2.00
6                                                1.50
7                                                0.75
8                                                0.00
9                                               −0.50
10                                              −0.40
11                                              −0.30
12                                              −0.20
13                                              −0.10
14                                               0.00
15                                               0.00
16                                               0.00
17                                               0.25
18                                               0.50
19                                               0.75
20                                               0.50
21                                               0.25
22                                               0.25
23                                               0.50
24                                               1.00
25                                               2.00
26                                               2.75
27                                               3.25
28                                               3.25
29                                               2.75
30                                               3.25
31                                               3.00
32                                               2.75
33                                               2.50
34                                               2.25
35                                               2.00
36                                               1.75
37                                               1.50
38                                               1.25
39                                               1.00
40                                               1.50
41                                               1.75
42                                               2.25
43                                               2.75
44                                               3.25
45                                               3.50
46                                               3.75
47                                               3.50
48                                               3.25
49                                               3.25
50                                               2.75
51                                               2.50
52                                               2.25
53                                               2.00
54                                               1.50
55                                               2.00
56                                               2.75
57                                               2.00
58    (interest rate levels in percentages per annum)
59  Prior to 10 March 2004, changes to the interes...

                          Main refinancing operations  \
                        Fixed rate tenders Fixed rate
0                                                4.25
1                                                4.00
2                                                3.75
3                                                3.50
4                                                3.00
5                                                2.50
6                                                2.00
7                                                1.25
8                                                0.50
9                                                0.00
10                                               0.00
11                                               0.05
12                                               0.05
13                                               0.15
14                                               0.25
15                                               0.50
16                                               0.75
17                                               1.00
18                                               1.25
19                                               1.50
20                                               1.25
21                                               1.00
22                                               1.25
23                                               1.50
24                                               2.00
25                                               2.50
26                                               3.25
27                                               3.75
28                                                  -
29                                                  -
30                                                  -
31                                                  -
32                                                  -
33                                                  -
34                                                  -
35                                                  -
36                                                  -
37                                                  -
38                                                  -
39                                                  -
40                                                  -
41                                                  -
42                                                  -
43                                                  -
44                                                  -
45                                                  -
46                                                  -
47                                                  -
48                                                  -
49                                               4.25
50                                               3.75
51                                               3.50
52                                               3.25
53                                               3.00
54                                               2.50
55                                               3.00
56                                               3.00
57                                               3.00
58    (interest rate levels in percentages per annum)
59  Prior to 10 March 2004, changes to the interes...

                                                       \
               Variable rate tenders Minimum bid rate
0                                                   -
1                                                   -
2                                                   -
3                                                   -
4                                                   -
5                                                   -
6                                                   -
7                                                   -
8                                                   -
9                                                   -
10                                                  -
11                                                  -
12                                                  -
13                                                  -
14                                                  -
15                                                  -
16                                                  -
17                                                  -
18                                                  -
19                                                  -
20                                                  -
21                                                  -
22                                                  -
23                                                  -
24                                                  -
25                                                  -
26                                                  -
27                                                  -
28                                                  -
29                                                  -
30                                               4.25
31                                               4.00
32                                               3.75
33                                               3.50
34                                               3.25
35                                               3.00
36                                               2.75
37                                               2.50
38                                               2.25
39                                               2.00
40                                               2.50
41                                               2.75
42                                               3.25
43                                               3.75
44                                               4.25
45                                               4.50
46                                               4.75
47                                               4.50
48                                               4.25
49                                                  -
50                                                  -
51                                                  -
52                                                  -
53                                                  -
54                                                  -
55                                                  -
56                                                  -
57                                                  -
58    (interest rate levels in percentages per annum)
59  Prior to 10 March 2004, changes to the interes...

                            Marginal lending facility
                                   Unnamed: 5_level_1
0                                                4.50
1                                                4.25
2                                                4.00
3                                                3.75
4                                                3.25
5                                                2.75
6                                                2.25
7                                                1.50
8                                                0.75
9                                                0.25
10                                               0.25
11                                               0.30
12                                               0.30
13                                               0.40
14                                               0.75
15                                               1.00
16                                               1.50
17                                               1.75
18                                               2.00
19                                               2.25
20                                               2.00
21                                               1.75
22                                               2.25
23                                               2.50
24                                               3.00
25                                               3.00
26                                               3.75
27                                               4.25
28                                               4.25
29                                               4.75
30                                               5.25
31                                               5.00
32                                               4.75
33                                               4.50
34                                               4.25
35                                               4.00
36                                               3.75
37                                               3.50
38                                               3.25
39                                               3.00
40                                               3.50
41                                               3.75
42                                               4.25
43                                               4.75
44                                               5.25
45                                               5.50
46                                               5.75
47                                               5.50
48                                               5.25
49                                               5.25
50                                               4.75
51                                               4.50
52                                               4.25
53                                               4.00
54                                               3.50
55                                               4.50
56                                               3.25
57                                               4.50

In [9]:

# Create a DataFrame from the provided data
dfi = pd.DataFrame(table_df)
dfi.head()

  Date (with effect from)                      Deposit facility  \
       Unnamed: 0_level_1 Unnamed: 1_level_1 Unnamed: 2_level_1
0                    2023             2 Aug.               3.75
1                    2023            21 Jun.               3.50
2                    2023             10 May               3.25
3                    2023            22 Mar.               3.00
4                    2023             8 Feb.               2.50

    Main refinancing operations                                         \
  Fixed rate tenders Fixed rate Variable rate tenders Minimum bid rate
0                          4.25                                      -
1                          4.00                                      -
2                          3.75                                      -
3                          3.50                                      -
4                          3.00                                      -

  Marginal lending facility
         Unnamed: 5_level_1
0                      4.50
1                      4.25
2                      4.00
3                      3.75
4                      3.25

In [10]:
columns_to_drop = ["Deposit facility", "Main refinancing operations"]
df_dropped = dfi.drop(columns=columns_to_drop)
df_dropped.head()

  Date (with effect from)                    Marginal lending facility
       Unnamed: 0_level_1 Unnamed: 1_level_1        Unnamed: 5_level_1
0                    2023             2 Aug.                      4.50
1                    2023            21 Jun.                      4.25
2                    2023             10 May                      4.00
3                    2023            22 Mar.                      3.75
4                    2023             8 Feb.                      3.25

In [11]:
df_keep = pd.DataFrame(df_dropped)

# Flatten the multi-level column headers
df_keep.columns = df_keep.columns.map('_'.join)

# Select the specific columns you want
desired_columns = ["Date (with effect from)_Unnamed: 0_level_1", "Date (with effect from)_Unnamed: 1_level_1", "Marginal lending facility_Unnamed: 5_level_1"]
filtered_df = df_keep[desired_columns]

# Print the filtered DataFrame
print(filtered_df)

           Date (with effect from)_Unnamed: 0_level_1  \
0                                                2023
1                                                2023
2                                                2023
3                                                2023
4                                                2023
5                                                2022
6                                                2022
7                                                2022
8                                                2022
9                                                2019
10                                               2016
11                                               2015
12                                               2014
13                                                NaN
14                                               2013
15                                                NaN
16                                               2012
17                                               2011
18                                                NaN
19                                                NaN
20                                                NaN
21                                               2009
22                                                NaN
23                                                NaN
24                                                NaN
25                                               2008
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                               2007
32                                                NaN
33                                               2006
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                               2005
39                                               2003
40                                                NaN
41                                               2002
42                                               2001
43                                                NaN
44                                                NaN
45                                                NaN
46                                               2000
47                                                NaN
48                                                NaN
49                                                NaN
50                                                NaN
51                                                NaN
52                                                NaN
53                                               1999
54                                                NaN
55                                                NaN
56                                                NaN
57                                                NaN
58    (interest rate levels in percentages per annum)
59  Prior to 10 March 2004, changes to the interes...

           Date (with effect from)_Unnamed: 1_level_1  \
0                                              2 Aug.
1                                             21 Jun.
2                                              10 May
3                                             22 Mar.
4                                              8 Feb.
5                                             21 Dec.
6                                              2 Nov.
7                                             14 Sep.
8                                             27 Jul.
9                                             18 Sep.
10                                            16 Mar.
11                                             9 Dec.
12                                            10 Sep.
13                                            11 Jun.
14                                            13 Nov.
15                                             8 May.
16                                            11 Jul.
17                                            14 Dec.
18                                             9 Nov.
19                                            13 Jul.
20                                            13 Apr.
21                                             13 May
22                                             8 Apr.
23                                            11 Mar.
24                                            21 Jan.
25                                            10 Dec.
26                                            12 Nov.
27                                           15 Oct.4
28                                            9 Oct.3
29                                             8 Oct.
30                                             9 Jul.
31                                            13 Jun.
32                                            14 Mar.
33                                            13 Dec.
34                                            11 Oct.
35                                             9 Aug.
36                                            15 Jun.
37                                             8 Mar.
38                                             6 Dec.
39                                             6 Jun.
40                                             7 Mar.
41                                             6 Dec.
42                                             9 Nov.
43                                            18 Sep.
44                                            31 Aug.
45                                             11 May
46                                             6 Oct.
47                                             1 Sep.
48                                           28 Jun.2
49                                             9 Jun.
50                                            28 Apr.
51                                            17 Mar.
52                                             4 Feb.
53                                             5 Nov.
54                                             9 Apr.
55                                            22 Jan.
56                                           4 Jan. 1
57                                             1 Jan.
58    (interest rate levels in percentages per annum)
59  Prior to 10 March 2004, changes to the interes...

         Marginal lending facility_Unnamed: 5_level_1
0                                                4.50
1                                                4.25
2                                                4.00
3                                                3.75
4                                                3.25
5                                                2.75
6                                                2.25
7                                                1.50
8                                                0.75
9                                                0.25
10                                               0.25
11                                               0.30
12                                               0.30
13                                               0.40
14                                               0.75
15                                               1.00
16                                               1.50
17                                               1.75
18                                               2.00
19                                               2.25
20                                               2.00
21                                               1.75
22                                               2.25
23                                               2.50
24                                               3.00
25                                               3.00
26                                               3.75
27                                               4.25
28                                               4.25
29                                               4.75
30                                               5.25
31                                               5.00
32                                               4.75
33                                               4.50
34                                               4.25
35                                               4.00
36                                               3.75
37                                               3.50
38                                               3.25
39                                               3.00
40                                               3.50
41                                               3.75
42                                               4.25
43                                               4.75
44                                               5.25
45                                               5.50
46                                               5.75
47                                               5.50
48                                               5.25
49                                               5.25
50                                               4.75
51                                               4.50
52                                               4.25
53                                               4.00
54                                               3.50
55                                               4.50
56                                               3.25
57                                               4.50
58    (interest rate levels in percentages per annum)
59  Prior to 10 March 2004, changes to the interes...

In [12]:
dfi2 = pd.DataFrame(filtered_df)
dfi2.head()

,Date (with effect from)_Unnamed: 0_level_1,Date (with effect from)_Unnamed: 1_level_1,Marginal lending facility_Unnamed: 5_level_1
0,2023,2 Aug.,4.50
1,2023,21 Jun.,4.25
2,2023,10 May,4.00
3,2023,22 Mar.,3.75
4,2023,8 Feb.,3.25

In [21]:
dfi2['Combined']=dfi2['Date (with effect from)_Unnamed: 1_level_1'] + dfi2['Date (with effect from)_Unnamed: 0_level_1']
dfi2.head()

,Date (with effect from)_Unnamed: 0_level_1,Date (with effect from)_Unnamed: 1_level_1,Marginal lending facility_Unnamed: 5_level_1,Combined
0,2023,2 Aug.,4.50,2 Aug.2023
1,2023,21 Jun.,4.25,21 Jun.2023
2,2023,10 May,4.00,10 May2023
3,2023,22 Mar.,3.75,22 Mar.2023
4,2023,8 Feb.,3.25,8 Feb.2023